@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f3fbfb;
    --text: #2b2b2b;
    --primary: #12403c;
    --secondary: #fff100;
    --success: #2b871d;
    --info: #0c51a0;
    --warning: #bca105;
    --danger: #bf1e43;
    --accent-primary: #1ab29e;
    --accent-success: #2b871d;
    --button-primary: #128f82;

    --alert-danger: #ffeff3;
    --alert-info: #e7f2ff;
    --alert-warning: #fff9d9;
    --alert-success: #e1ffdd;
  }
}

.card-map {
  @apply border py-4 border-button-primary rounded-br-[40px] rounded-tl-[40px] rounded-bl-md rounded-tr-md text-sm flex flex-col items-center justify-center gap-2;
}

.badge-map {
  @apply bg-alert-success px-2 py-1 text-xs text-button-primary border border-button-primary;
}

@media print {
  @page {
    margin: 0;
    size: A4 portrait;

    /* Coba hilangkan header & footer default */
    /* Chrome tidak selalu hormati ini, tapi layak dicoba */
  }

  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 12px;
    -webkit-print-color-adjust: exact; /* agar warna tailwind tetap terlihat */
  }

  /* Sembunyikan elemen-elemen tertentu jika perlu */
  .no-print {
    display: none !important;
  }
}

* {
  @apply font-jakarta;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  min-width: max-content;
  animation: marquee 30s linear infinite;
}

input[type="file"]::file-selector-button {
  background: var(--secondary);
  padding: 6px 18px;
  border: none;
  color: black;
}
input[type="file"] {
  cursor: pointer;
  border: 0.5px solid #c0c0c0;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}

.ck-editor__main,
.ck-content {
  height: 50vh !important;
}

.ck-content ul,
.ck-content ol {
  margin-left: 12px !important;
}

.ck-editor-keterangan ul li {
  list-style: disc;
}
.ck-editor-keterangan ol li {
  list-style: decimal;
}
