@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f3fbfb;
    --text: #2b2b2b;
    --primary: #12403c;
    --secondary: #fff100;
    --success: #2b871d;
    --info: #0c51a0;
    --warning: #bca105;
    --danger: #bf1e43;
    --accent-primary: #1ab29e;
  }
}

* {
  @apply font-jakarta;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  min-width: max-content;
  animation: marquee 30s linear infinite;
}
